.navbar-active {
  background: white;
  color: black;
  box-shadow: 2px 2px 5px #888888;
  height: 70px;
  align-items: center;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.navbar-notactive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  color: white;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.52));
}
