.App {
  background-color: white;
  min-height: 100vh;
}

.nav {
  height: 180px;
  display: flex;
  color: #000080;
  background-color: rgba(0, 0, 0, 0.05);
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo img {
  height: 100%;
  filter: brightness(0.5);
}

.title {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.title p {
  font-size: 24px;
  font-weight: 600;
}

.socials {
  flex: 2;
  display: flex;
}

.Main {
  padding: 0 150px;
  position: relative;
  z-index: 0;
}

.Main::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05), transparent);
}

.nav2 {
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 800;
}
