.Section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .Section{
    width: 100%;
    
  }
}