.EventPage {
  margin: auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.EventPage h1 {
  padding: 1rem;
}

.Img {
  display: grid;
  place-items: center;
  aspect-ratio: 16/9;
  width: 1000px;
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
}

.Img img {
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .EventPage {
    padding: 0.5rem;
  }
}
