.Events {
  width: 100%;
  display: grid;
  padding: 80px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 700px);
}

@media screen and (max-width: 768px) {
  .Events{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}