.Post {
  width: 700px;
  height: 300px;

  background: white;

  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
}

.Image {
  width: 300px;
  flex: 4;
  display: grid;
  place-content: center;
  background: white;
  overflow: hidden;
  position: relative;
}

.Image img {
  height: 100%;
}

.Text {
  flex: 5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Text p {
  text-overflow: ellipsis;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-style: italic;
}
