.Banner {
  height: 75vh;
  display: flex;
}

.Text {
  flex: 1;
  display: flex;
  padding: 9rem;
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.MainHeading {
  font-size: 100px;
  font-weight: 800;
}

.SecondHeading {
  font-size: 50px;
  font-weight: 700;
}

.Description {
  font-size: 20px;
  font-weight: 600;
  max-width: 600px;
}

.Carousel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* to be removed  */
  background: url("https://source.unsplash.com/random/?education");
  color: white;
  font-style: italic;
}
